<div class="github-component d-flex flex-column flex-justify-between height-full text-left rounded-1 p-3" style="background-color: #4A4A4A">
  <div>
    <div class="d-flex flex-justify-between flex-items-start mb-1" style="color: #ffffff">
      <h1 class="f4 lh-condensed mb-1">
        <a href="{{ repository.html_url }}" style="color: #71DE95" >
          {% octicon repo height:20 class:"mr-1 v-align-middle" fill:"#ffffff" aria-label:repo %}
          {{ repository.name }}
        </a>
      </h1>
    </div>
    <div class="mb-2 ws-normal" style="color: #ffffff" >{{ repository.description }}</div>
  </div>
</div>
