---
---
@import url('https://unpkg.com/primer/build/build.css');
@import 'highlight-syntax';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');



.github-component {
  background-color: #262626;
}


.repo-language-color {
    filter: brightness(125%) !important;
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 2px;
    width: 12px;
}

.emoji {
  width: 18px;
  height: auto;
  vertical-align: middle;
}

.article {
  h1, h2, h3, h4,
  .highlight {
    margin-bottom: 16px;
  }

  blockquote {
    color: #6a737d;
    border-left: 2px solid #959da5;
    padding-left: 16px;
    margin-bottom: 16px;
  }

  ul, ol {
    padding-left: 32px;
    margin-bottom: 16px;
  }

  li ul, li ol {
    padding-left: 16px;
    margin-bottom: 0px;
  }
}

.min-height-full {
  min-height: 100vh;
}

a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}